<div class="container" *ngIf="reciverUserDetils.name" (click)="hideRightClickOption()">
    <div class="history-style">
        <div class=" row">
            <div class="row UserHeader">
                <h4 class=" UserName">{{reciverUserDetils.name}} </h4>
            </div>

            <div class="message-list">
                <div>
                    <div *ngFor="let item of ConHistory; let i =index" class="mt-2">
                        <div
                            *ngIf="item.senderId==CurrentUser && item.reciverId==reciverUserDetils.userId ; else elseBlockmessage">
                            <div class="d-flex justify-content-end">
                                <div class="Sender" (contextmenu)="onMessageRightClick($event,item)">
                                    <div *ngIf="isMessageEdit==false || editMessageId!=item.messageId  ; else elseBlockInline">
                                        <span style=" font-weight: bold; font-size: medium;">{{item.content}}</span><br>
                                        <span style="font-size: xx-small;"> {{item.timeStamp}}</span>
                                    </div>
                                    <ng-template #elseBlockInline>
                                        <div *ngIf="isMessageEdit && editMessageId==item.messageId">
                                            <input type="text" [(ngModel)]="editablemessage">
                                            <button type="button" (click)="editMessage()">Update</button>
                                            <button type="button" (click)="hideInlineeditor()">Cancle</button>
                                        </div>
                                    </ng-template>

                                </div>
                                <div *ngIf="isRightClick && RClickMessageId==item.messageId">
                                    <button type="button" (click)="showInlineeditor(item)">Edit</button>
                                    <button type="button" (click)="deleteMessage(item)">Delete</button>
                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlockmessage>
                            <div class="d-flex justify-content-start">
                                <div class="reciver">
                                    <span style=" font-weight: bold; font-size: medium;">{{item.content}}</span><br>
                                    <span style="font-size: xx-small;"> {{item.timeStamp}}</span>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <div class="sendmessage">
                <div class="row">
                    <div class="col-md-12">
                        <div class="send-box">
                            <input type="text" [(ngModel)]="message" placeholder="enter message">
                            <button (click)="sendMessage()">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>